<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page for Adding Users</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/user.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/">User Page</a></li>
          <li class="main-header__item">
            <a class="active" href="/users/add-user">Add-User Page</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Page is not found</h1>
    </main>
  </body>
</html>
